{% extends 'base_embed.html.twig' %}

{% block body %}
<div style="border: 1px solid black; width:300px; height:400px;">
Je suis le div dans la vue 2
</div>


<div style="display:inline-block;float:right;border: 1px solid black; width:200px; height:400px;">
{{ render (controller ('App\\Controller\\EmbedControllerVueController::donneesDynamiques',{'nombreVilles':5}))}}
</div>
{% endblock %}
