<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Titre base{% endblock %}</title>
        
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block codejs %}{% endblock %} 

        {% block extrajs %}
        
        <script>
        console.log ("Je suis un code js pour un sous-ensemble de pages");
        </script>
        {% endblock %}
    </body>
</html>
